# deps & build
node_modules
dist
src-tauri/target

# binaire Tor embarqué (récupéré via script, non versionné)
src-tauri/vendor/*
!src-tauri/vendor/WebView2Loader.dll

# tauri génère ça
src-tauri/gen/schemas

# divers
.DS_Store
Thumbs.db
*.log

# installeurs builds locaux
*.exe
!src-tauri/**
